<a href="https://colab.research.google.com/github/wewerthonc/stock_prediction_gans/blob/main/Stock_market_prection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from google.colab import drive
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf

In [16]:
drive.mount('/content/MyDrive')
PATH_BASE = '/content/MyDrive/MyDrive/Datasets/'

Drive already mounted at /content/MyDrive; to attempt to forcibly remount, call drive.mount("/content/MyDrive", force_remount=True).

In [17]:
# Read CSV file
stock_df = pd.read_csv(PATH_BASE + 'dados_petroleo_2021.csv', index_col = ['Date'])

In [18]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1738 entries, 2015-01-02 to 2021-12-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1738 non-null   float64
 1   High       1738 non-null   float64
 2   Low        1738 non-null   float64
 3   Close      1738 non-null   float64
 4   Adj Close  1738 non-null   float64
 5   Volume     1738 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 95.0+ KB

In [19]:
stock_df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1738.000000,1738.000000,1738.000000,1738.000000,1738.000000,1.738000e+03
mean,18.949827,19.239695,18.633970,18.925161,7.814365,6.048244e+07
std,7.326365,7.384939,7.259855,7.324068,3.302288,3.301638e+07
min,4.200000,4.270000,4.120000,4.200000,1.647214,0.000000e+00
25%,13.112500,13.322500,12.870000,13.060000,5.126951,4.016878e+07
50%,18.990000,19.365001,18.620001,18.965000,7.584751,5.379285e+07
75%,26.177500,26.497500,25.777501,26.100000,10.803513,7.226125e+07
max,31.459999,31.760000,30.629999,31.120001,15.442681,4.902304e+08

Checking stationarity

In [ ]:
from statsmodels.tsa.stattools import adfuller

# Iterate over each column in the stock_df DataFrame, excluding the last column
for column in stock_df.columns[:-1]:
   
    # Execute the Augmented Dickey-Fuller (ADF) test on the current column
    result = adfuller(stock_df[column])
  
    # Store the p-value from the ADF test result
    p_value = result[1]

    # Print the p-value along with the column name
    print(f'Valor-p {column}: {p_value}')

Se o valor-p for maior que o nível de significância, não há evidências estatísticas suficientes para rejeitar a hipótese nula. Nesse caso, você não tem evidências de que a série é estacionária.

In [24]:
# Create a new DataFrame excluding the last column
stock_stationary_df = stock_df.iloc[1:].copy()

# Iterate over each column in stock_df, excluding the last column
for column in stock_df.columns[:-1]:
    
    # Calculate the first-order difference of the current column
    stock_stationary_df[column] = np.diff(stock_df[column])